body {
    margin:0
    
}
.menu-navegacion{
    background-color: #729e2e;
    padding: 10px;
    margin:0;
}
.menu-navegacion li{
 display: inline-block;
}
.menu-navegacion a{
color:white;
text-decoration: none;
}
.menu-navegacion a:hover{
    background-color: #4e7a0a;
}
.galeria{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 25%;
}

.box img{
    width: 100%;
}
